.body
{
    margin: auto;
    max-width: 850px;
}
header /* @mixin display (display flex, align-item center, justify-content center) */
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    height: 130px;
    text-align: justify;
    margin-bottom: 5%;
    background-color: #579C87;
    
}
a
{
    text-decoration: none; /* retire l'effet souligné des liens */
}
h1
{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
h1 a
{
    color: #FDCB46;
}
section  /* @mixin display (display flex, align-item center, justify-content center) */
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.box1 /* @mixin display */
{
    font-family: 'Damion', cursive;
    font-size: 28px;
    background-color: #fcdfdb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 1px lightgrey;
    width: 33%;
    margin: auto;
    margin-left: 13%;
}
.fa-music:before
{
    margin-bottom: 0px;
    background: linear-gradient(to left, #f6916a, #f05561);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box1 p
{
    margin-top: 0px;
}
.box1 a
{
    color: rgb(0, 0, 0);
}
.box1 div
{
    font-family: 'Kalam', cursive;
    font-weight: 600;
}
.box2
{
    font-family: 'Kurale', serif;
    background-color: #fff5fe;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 1px lightgrey;
    width: 33%;
    margin: auto;
    margin-right: 13%;
}
.box2 p
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
    background: linear-gradient(to right, #e0881d, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box2 div
{
    font-size: 32px;
    font-weight: 600;
    color: #c77412;
}
.box3
{
    font-family: 'Dancing Script', cursive;
    background-color: #f9f9f9;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 1px lightgrey;
    width: 33%;
    margin: auto;
    margin-left: 13%;
    margin-top: 3rem;
}
.box3 p
{
    font-size: 29px;
    background: linear-gradient(to right, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box3 div
{
    color: #0887fb;
    font-size: 32px;
    font-family: 'Kalam', cursive;
}
.box4
{
    font-family: 'Kaushan Script', cursive;
    background-color: #fdfffd;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 1px lightgrey;
    width: 33%;
    margin: auto;
    margin-right: 13%;
    margin-top: 3rem;
}
.box4 p
{
    font-size: 27px;
    background: linear-gradient(to right, #499c40, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box4 div
{
    color: #72bf56;
    font-size: 32px;
    font-family: 'Kalam', cursive;
}
.next /* height= 60px mais bug */
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(87, 156, 135);
    text-align: center;
    width: 40%;
    height: 65px;
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
.next p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #FDCB46;
}
footer
{
    width: 100%;
    display: flex;
    background-color: rgb(87, 156, 135);  
}
.gauche
{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding-right: 53%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #FDCB46;
}
.droite
{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: #FDCB46;
}
