@charset "UTF-8";
.body {
  margin: auto;
  max-width: 850px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 130px;
  text-align: justify;
  margin-bottom: 5%;
  background-color: #579C87;
}

a {
  text-decoration: none;
  /* retire l'effet souligné des liens */
}

h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

h1 a {
  color: #FDCB46;
}

section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px 1px lightgrey;
  width: 33%;
  height: 400px;
  font-family: 'Damion', cursive;
  font-size: 28px;
  margin: auto;
  margin-left: 13%;
  background-color: #fcdfdb;
  transition: all 0.5s ease;
}

.box1:hover {
  transform: scale(1.05);
  background-color: rgba(252, 223, 219, 0.7);
}

.box1 a {
  color: black;
  transition: transform 0.7s ease;
}

.box1 a:hover {
  transform: scale(1.15);
}

.box1 a p {
  margin-top: 0px;
}

.box1 a div {
  font-family: 'Kalam', cursive;
  font-weight: 600;
}

.fa-music:before {
  margin-bottom: 0px;
  background: linear-gradient(to left, #f6916a, #f05561);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px 1px lightgrey;
  width: 33%;
  height: 400px;
  font-family: 'Kurale', serif;
  margin: auto;
  margin-right: 13%;
  background-color: #fff5fe;
  transition: all 0.5s ease;
}

.box2:hover {
  transform: scale(1.05);
  background-color: rgba(255, 245, 254, 0.7);
}

.box2 a:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
}

.box2 a p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  background: linear-gradient(to right, #e0881d, #8f5aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box2 a div {
  font-size: 32px;
  font-weight: 600;
  color: #c77412;
}

.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px 1px lightgrey;
  width: 33%;
  height: 400px;
  font-family: 'Dancing Script', cursive;
  margin: auto;
  margin-left: 13%;
  margin-top: 3rem;
  background-color: #f9f9f9;
  transition: all 0.5s ease;
}

.box3:hover {
  transform: scale(1.05);
  background-color: rgba(249, 249, 249, 0.6);
}

.box3 a:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
}

.box3 p {
  font-size: 29px;
  background: linear-gradient(to right, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box3 div {
  color: #0887fb;
  font-size: 32px;
  font-family: 'Kalam', cursive;
}

.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 10px 1px lightgrey;
  width: 33%;
  height: 400px;
  font-family: 'Kaushan Script', cursive;
  background-color: #fdfffd;
  margin: auto;
  margin-right: 13%;
  margin-top: 3rem;
  transition: all 0.5s ease;
}

.box4:hover {
  transform: scale(1.05);
}

.box4 a:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease-in-out;
}

.box4 p {
  font-size: 27px;
  background: linear-gradient(to right, #499c40, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box4 div {
  color: #72bf56;
  font-size: 32px;
  font-family: 'Kalam', cursive;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #579c87;
  text-align: center;
  width: 40%;
  height: 65px;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.next p {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: #FDCB46;
}

.dot-falling {
  display: none;
  align-items: center;
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FDCB46;
  color: #FDCB46;
  box-shadow: 9999px 0 0 0 #FDCB46;
  animation: dotFalling 1s infinite linear;
  animation-delay: .1s;
}

.dot-falling:before, .dot-falling:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.next {
  transition: all 0.5s ease;
}

.next:hover .soon {
  display: none;
}

.next:hover .dot-falling {
  display: flex;
}

.dot-falling::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FDCB46;
  color: #FDCB46;
  animation: dotFallingBefore 1s infinite linear;
  animation-delay: 0s;
}

.dot-falling::after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #FDCB46;
  color: #FDCB46;
  animation: dotFallingAfter 1s infinite linear;
  animation-delay: .2s;
}

@keyframes dotFalling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 #FDCB46;
  }
  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingBefore {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 #FDCB46;
  }
  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dotFallingAfter {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }
  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 #FDCB46;
  }
  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

footer {
  width: 100%;
  display: flex;
  background-color: #579c87;
}

footer .left {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: #FDCB46;
}

footer .left a {
  color: #FDCB46;
}

footer .left:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  footer .left 0% {
    -ms-transform: rotate(1deg);
  }
  footer .left 25% {
    -ms-transform: rotate(-1deg);
  }
  footer .left 50% {
    -ms-transform: rotate(1.5deg);
  }
  footer .left 75% {
    -ms-transform: rotate(-5deg);
  }
  footer .left 100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer .right {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

footer .right a {
  color: #FDCB46;
}

footer .right:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  footer .right 0% {
    -ms-transform: rotate(1deg);
  }
  footer .right 25% {
    -ms-transform: rotate(-1deg);
  }
  footer .right 50% {
    -ms-transform: rotate(1.5deg);
  }
  footer .right 75% {
    -ms-transform: rotate(-5deg);
  }
  footer .right 100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

footer .center {
  opacity: 0;
  padding-left: 27%;
  padding-right: 26%;
}
