.body {
    
    margin: auto;
    max-width: 850px;
    max-height: 1000px;
}

@mixin display {
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 1px lightgrey;
    width: 28%;
    height: 325px;
}

header {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    height: 100px;
    text-align: justify;
    margin-bottom: 3%;
    background-color: #579C87;
}

a {
    
    text-decoration: none; /* retire l'effet souligné des liens */
}

h1 {
    
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
    
    a {
        
        color: #FDCB46;
    }
}

section {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box1 {
    
    @include display;
    font-family: 'Damion', cursive;
    font-size: 28px;
    margin: auto;
    margin-left: 19%;
    background-color: rgb(252, 223, 219);
    transition: all 0.5s ease;
    
    &:hover {
        
        transform: scale(1.05);
        background-color: rgba(252, 223, 219, 0.7);
    }
    
    a {
        color: rgb(0, 0, 0);
        transition: transform 0.7s ease;
        
        &:hover{
            
            transform: scale(1.15);    
        }
        
            p {
                
                margin-top: 0px;
            }
            
            div {
                
                font-family: 'Kalam', cursive;
                font-weight: 600;
            }
    }
}

.fa-music:before {
    
    margin-bottom: 0px;
    background: linear-gradient(to left, #f6916a, #f05561);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box2 {
    
    @include display;
    font-family: 'Kurale', serif;
    margin: auto;
    margin-right: 19%;
    background-color: rgb(255, 245, 254);
    transition: all 0.5s ease;
    
    &:hover {
        
        transform: scale(1.05);
        background-color: rgba(255, 245, 254, 0.7);   
    }
    
    a {
        
        &:hover {
            
            transform: scale(1.15);
            transition: transform 0.5s ease-in-out;
        }
        
        p {
            
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 0.5rem;
            background: linear-gradient(to right, #e0881d, #8f5aff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        div {
            
            font-size: 32px;
            font-weight: 600;
            color: #c77412;
        }
    }
}

.box3 {
    
    @include display;
    font-family: 'Dancing Script', cursive;
    margin: auto;
    margin-left: 19%;
    margin-top: 2rem;
    background-color: rgb(240, 240, 240);
    transition: all 0.5s ease;
    
    &:hover {
        
        transform: scale(1.05);
        background-color: rgba(240, 240, 240, 0.6);
    }
    
    a {
        
        &:hover {
            
            transform: scale(1.15);
            transition: transform 0.5s ease-in-out;
        }
    }
    
    p {
        
        font-size: 29px;
        background: linear-gradient(to right, #0229dd, #0889fb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
        
    div {
        
        color: #0887fb;
        font-size: 32px;
        font-family: 'Kalam', cursive;
    }
}
        
.box4 {
    
    @include display;
    font-family: 'Kaushan Script', cursive;
    background-color: #fdfffd;
    margin: auto;
    margin-right: 19%;
    margin-top: 2rem;
    transition: all 0.5s ease;
    
    &:hover {
        
        transform: scale(1.05);
    }
    
     a {
        
        &:hover {
            
            transform: scale(1.15);
            transition: transform 0.5s ease-in-out;
        }
    }
    
    p {
        
        font-size: 27px;
        background: linear-gradient(to right, #499c40, #beff7f);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    div {
        
        color: #72bf56;
        font-size: 32px;
        font-family: 'Kalam', cursive;
    }
}

.next {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(87, 156, 135);
    text-align: center;
    width: 40%;
    height: 65px;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
    p {
        
        font-family: 'Open Sans', sans-serif;
        font-size: 32px;
        color: #FDCB46;
    }
}

.dot-falling {
    
      display: none;
      align-items: center;
      position: relative;
      left: -9999px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: #FDCB46;
      color: #FDCB46;
      box-shadow: 9999px 0 0 0 #FDCB46;
      animation: dotFalling 1s infinite linear;
      animation-delay: .1s;
        
        &:before, &:after {
            
            content: '';
            display: inline-block;
            position: absolute;
            top: 0;
        }
}
        
.next {
    
    transition: all 0.5s ease;
    
    &:hover {
        
        .soon {
            
            display: none; 
        }
        
        .dot-falling {
            
            display: flex;
        }
    }
}
        .dot-falling::before {

          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #FDCB46;
          color: #FDCB46;
          animation: dotFallingBefore 1s infinite linear;
          animation-delay: 0s;
        }

        .dot-falling::after {

          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #FDCB46;
          color: #FDCB46;
          animation: dotFallingAfter 1s infinite linear;
          animation-delay: .2s;
        }


        @keyframes dotFalling {
          0% {
            box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
          }
          25%,
          50%,
          75% {
            box-shadow: 9999px 0 0 0 #FDCB46;
          }
          100% {
            box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
          }
        }

        @keyframes dotFallingBefore {
          0% {
            box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
          }
          25%,
          50%,
          75% {
            box-shadow: 9984px 0 0 0 #FDCB46;
          }
          100% {
            box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
          }
        }

        @keyframes dotFallingAfter {
          0% {
            box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
          }
          25%,
          50%,
          75% {
            box-shadow: 10014px 0 0 0 #FDCB46;
          }
          100% {
            box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
          }
        }


footer {
    
    position: sticky;
    bottom: 1px;
    max-width:  850px;
    width: 100%;
    display: flex;
    background-color: rgb(87, 156, 135); 

    .left {

        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        color: #FDCB46;  
        
        a {
        
            color: #FDCB46;
        }   
    
        &:hover {
                
            -webkit-animation-name: wiggle;
            -ms-animation-name: wiggle;
            -ms-animation-duration: 1000ms;
            -webkit-animation-duration: 1000ms;
            -webkit-animation-iteration-count: 1;
            -ms-animation-iteration-count: 1;
            -webkit-animation-timing-function: ease-in-out;
            -ms-animation-timing-function: ease-in-out;
        }

        @-webkit-keyframes wiggle {
                
            0% {-webkit-transform: rotate(3deg);}
            25% {-webkit-transform: rotate(-5deg);}
            50% {-webkit-transform: rotate(5deg);}
            75% {-webkit-transform: rotate(-3deg);}
            100% {-webkit-transform: rotate(0deg);}
        }

        @-ms-keyframes wiggle {
                
            0% {-ms-transform: rotate(1deg);}
            25% {-ms-transform: rotate(-1deg);}
            50% {-ms-transform: rotate(1.5deg);}
            75% {-ms-transform: rotate(-5deg);}
            100% {-ms-transform: rotate(0deg);}
        }

        @keyframes wiggle {
                
            0% {transform: rotate(3deg);}
            25% {transform: rotate(-5deg);}
            50% {transform: rotate(5deg);}
            75% {transform: rotate(-3deg);}
            100% {transform: rotate(0deg);}
        }

    }
        
    .right {
        
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-top: 1rem;
        
        a {
        
            color: #FDCB46;
        }   
    
        &:hover {
                
            -webkit-animation-name: wiggle;
            -ms-animation-name: wiggle;
            -ms-animation-duration: 1000ms;
            -webkit-animation-duration: 1000ms;
            -webkit-animation-iteration-count: 1;
            -ms-animation-iteration-count: 1;
            -webkit-animation-timing-function: ease-in-out;
            -ms-animation-timing-function: ease-in-out;
        }

        @-webkit-keyframes wiggle {
                
            0% {-webkit-transform: rotate(3deg);}
            25% {-webkit-transform: rotate(-5deg);}
            50% {-webkit-transform: rotate(5deg);}
            75% {-webkit-transform: rotate(-3deg);}
            100% {-webkit-transform: rotate(0deg);}
        }

        @-ms-keyframes wiggle {
                
            0% {-ms-transform: rotate(1deg);}
            25% {-ms-transform: rotate(-1deg);}
            50% {-ms-transform: rotate(1.5deg);}
            75% {-ms-transform: rotate(-5deg);}
            100% {-ms-transform: rotate(0deg);}
        }

        @keyframes wiggle {
                
            0% {transform: rotate(3deg);}
            25% {transform: rotate(-5deg);}
            50% {transform: rotate(5deg);}
            75% {transform: rotate(-3deg);}
            100% {transform: rotate(0deg);}
        }
    }
    
    .center {
        
        opacity: 0;
        padding-left: 27%;
        padding-right: 26%;
    }
}
        
