header {
  margin-bottom: 4%;
}

h2 {
  text-align: center;
}

.top {
  font-size: 40px;
  margin: auto;
  padding-top: 5%;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  font-size: 30px;
  font-weight: 400;
  width: 100%;
  text-align: center;
  margin-bottom: 7%;
}

h5 {
  font-size: 25px;
  font-weight: 400;
  margin: auto;
  margin-top: 1%;
  text-align: center;
}

h5 p {
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

h5 p:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

h5 p:hover:after {
  width: 100%;
  left: 0;
}

section {
  margin: auto;
}

.box {
  font-family: 'Damion', cursive;
  display: flex;
  flex-wrap: wrap;
  background-color: #fcdfdb;
  margin: auto;
  margin-bottom: 4%;
  max-width: 600px;
}

.box p {
  margin-bottom: 2%;
  margin-top: 2%;
}

.name {
  font-size: 18px;
  font-weight: 400;
  width: 75%;
  margin-top: 2%;
  margin-left: 8%;
  margin-bottom: 3%;
}

.price {
  font-size: 18px;
  display: flex;
  padding-top: 2%;
  width: 7%;
  text-align: end;
}

.dessert {
  font-size: 18px;
  width: 90%;
  margin-top: 1%;
  margin-left: 8%;
  margin-bottom: 2%;
}

.dessert i {
  padding-top: 0%;
}

.fa-music:before {
  margin-bottom: 0px;
  background: linear-gradient(to left, #f6916a, #f05561);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.displayed {
  padding-right: 10%;
  padding-top: 4%;
  display: flex;
  height: 7px;
  max-width: 25%;
}

.displayed01 {
  padding-left: 8%;
  padding-top: 4%;
  display: flex;
  height: 7px;
  max-width: 25%;
}
